body {
  margin: 0%;
}

.before-header {
  background-color: #000000;
  text-align: center;
  height: 30px;
  box-sizing: border-box;
}
.before-header p {
  color: #f2f0f1;
  padding-top: 8px;
  font-size: 13px;
  margin-top: 0%;
}
.before-header p a {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}

header {
  background-color: #ffffff;
  height: 65px;
}
header .container-header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 85%;
  transform: translateY(-17px);
}
header .container-header h3 {
  font-size: 30px;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
}
header .container-header ul {
  display: flex;
  gap: 20px;
  padding-inline-start: 0px;
}
header .container-header ul li {
  list-style: none;
}
header .container-header ul li a {
  text-decoration: none;
  color: rgb(56, 56, 56);
  font-size: 13px;
}
header .container-header .recherche {
  display: flex;
  gap: 10px;
  background-color: #f2f0f1;
  padding: 10px 20px;
  flex: 1;
  border-radius: 20px;
  color: #000000;
}
header .container-header .recherche input {
  border: none;
  background-color: #f2f0f1;
}
header .container-header .icon {
  display: flex;
  gap: 15px;
}

.land {
  background-color: #f2f0f1;
}
.land .land-container {
  display: flex;
  height: calc(100vh - 150px);
  margin: auto;
  max-width: 85%;
  position: relative;
  overflow: hidden;
}
.land .land-container::before {
  content: url(/images/Vector\ \(4\).png);
  position: absolute;
  left: 50%;
  top: 43%;
}
.land .land-container::after {
  content: url(/images/Vector\ \(5\).png);
  position: absolute;
  left: 92%;
  top: 10%;
}
.land .land-container .block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  padding: 90px 0px 90px 0px;
}
.land .land-container .block h3 {
  font-size: 48px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  line-height: 55px;
  margin: 0%;
  max-width: 90%;
}
.land .land-container .block p {
  margin: 0%;
  max-width: 88%;
  color: rgb(95, 95, 95);
}
.land .land-container .block button {
  width: 180px;
  padding: 10px 0px;
  border-radius: 70px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.land .land-container .block .box {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}
.land .land-container .block .box h4 {
  margin: 0%;
  font-weight: bolder;
  font-size: 40px;
}
.land .land-container .block .box p {
  font-size: 13px;
  color: rgb(95, 95, 95);
}
.land .land-container img {
  width: 50%;
}

.section-1 {
  background-color: #000000;
  height: 55px;
}
.section-1 .container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  transform: translateY(15px);
}
.section-1 .container img {
  height: 20px;
}

.cards .cards, .sec2-container .cards, .cards .sec2-container, .sec2-container .sec2-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.cards .cards .card, .sec2-container .cards .card, .cards .sec2-container .card, .sec2-container .sec2-container .card {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.cards .cards .card h3, .sec2-container .cards .card h3, .cards .sec2-container .card h3, .sec2-container .sec2-container .card h3 {
  margin: 0%;
}
.cards .cards .card p, .sec2-container .cards .card p, .cards .sec2-container .card p, .sec2-container .sec2-container .card p {
  margin: 0%;
}
.cards .cards .card p span, .sec2-container .cards .card p span, .cards .sec2-container .card p span, .sec2-container .sec2-container .card p span {
  color: #000000;
  font-weight: 900;
}
.cards .cards .card .val, .sec2-container .cards .card .val, .cards .sec2-container .card .val, .sec2-container .sec2-container .card .val {
  font-size: 25px;
  font-weight: 900;
}
.cards .cards .card .rate, .sec2-container .cards .card .rate, .cards .sec2-container .card .rate, .sec2-container .sec2-container .card .rate {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cards .cards .card .prix, .sec2-container .cards .card .prix, .cards .sec2-container .card .prix, .sec2-container .sec2-container .card .prix {
  display: flex;
  gap: 20px;
  align-items: center;
}
.cards .cards .card .prix img, .sec2-container .cards .card .prix img, .cards .sec2-container .card .prix img, .sec2-container .sec2-container .card .prix img {
  background-color: #ff8f8f;
  padding: 5px;
  border-radius: 5px;
}
.cards .cards .card .prix p, .sec2-container .cards .card .prix p, .cards .sec2-container .card .prix p, .sec2-container .sec2-container .card .prix p {
  font-size: 25px;
  font-weight: 900;
}
.cards .cards .card .prix span, .sec2-container .cards .card .prix span, .cards .sec2-container .card .prix span, .sec2-container .sec2-container .card .prix span {
  color: rgb(95, 95, 95);
  text-decoration-line: line-through;
  font-size: 20px;
}

.sec2-container {
  width: 85%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sec2-container h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  margin: 0%;
}
.sec2-container button {
  align-self: center;
  padding: 10px 50px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.cards .cards, .sec2-container .cards, .cards .sec2-container, .sec2-container .sec2-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.cards .cards .card, .sec2-container .cards .card, .cards .sec2-container .card, .sec2-container .sec2-container .card {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.cards .cards .card h3, .sec2-container .cards .card h3, .cards .sec2-container .card h3, .sec2-container .sec2-container .card h3 {
  margin: 0%;
}
.cards .cards .card p, .sec2-container .cards .card p, .cards .sec2-container .card p, .sec2-container .sec2-container .card p {
  margin: 0%;
}
.cards .cards .card p span, .sec2-container .cards .card p span, .cards .sec2-container .card p span, .sec2-container .sec2-container .card p span {
  color: #000000;
  font-weight: 900;
}
.cards .cards .card .val, .sec2-container .cards .card .val, .cards .sec2-container .card .val, .sec2-container .sec2-container .card .val {
  font-size: 25px;
  font-weight: 900;
}
.cards .cards .card .rate, .sec2-container .cards .card .rate, .cards .sec2-container .card .rate, .sec2-container .sec2-container .card .rate {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cards .cards .card .prix, .sec2-container .cards .card .prix, .cards .sec2-container .card .prix, .sec2-container .sec2-container .card .prix {
  display: flex;
  gap: 20px;
  align-items: center;
}
.cards .cards .card .prix img, .sec2-container .cards .card .prix img, .cards .sec2-container .card .prix img, .sec2-container .sec2-container .card .prix img {
  background-color: #ff8f8f;
  padding: 5px;
  border-radius: 5px;
}
.cards .cards .card .prix p, .sec2-container .cards .card .prix p, .cards .sec2-container .card .prix p, .sec2-container .sec2-container .card .prix p {
  font-size: 25px;
  font-weight: 900;
}
.cards .cards .card .prix span, .sec2-container .cards .card .prix span, .cards .sec2-container .card .prix span, .sec2-container .sec2-container .card .prix span {
  color: rgb(95, 95, 95);
  text-decoration-line: line-through;
  font-size: 20px;
}

.sec2-container {
  width: 85%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sec2-container h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  margin: 0%;
}
.sec2-container button {
  align-self: center;
  padding: 10px 50px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.sec4-container {
  background-color: #f2f0f1;
  width: 85%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  border-radius: 50px;
}
.sec4-container h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  margin: 0%;
  margin-bottom: 20px;
}

.section-5 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-5 h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  margin: 0%;
  text-align: left;
}
.section-5 .customers {
  display: flex;
  gap: 20px;
}
.section-5 .customers .customer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border: solid rgb(184, 184, 184) 0.1em;
  border-radius: 40px;
}
.section-5 .customers .customer .name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.section-5 .customers .customer .name span {
  font-size: 22px;
  font-weight: bold;
}
.section-5 .customers .customer p {
  margin: 0%;
  color: rgb(95, 95, 95);
}

footer {
  margin-top: 8%;
  background-color: #f2f0f1;
}
footer .upto-date {
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
  background-color: #000000;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 40px;
}
footer .upto-date h4 {
  color: #ffffff;
  padding-left: 70px;
  text-align: center;
  font-size: 30px;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  margin: 0%;
}
footer .upto-date .subs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 70px;
}
footer .upto-date .subs .email {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 60px 10px 15px;
  border-radius: 20px;
}
footer .upto-date .subs .email input {
  border: none;
  color: #f2f0f1;
}
footer .upto-date .subs button {
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}
footer .footer-container {
  width: 85%;
  margin: auto;
}
footer .footer-container .footer-link {
  display: flex;
  gap: 100px;
  align-items: baseline;
}
footer .footer-container .footer-link .shop {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
footer .footer-container .footer-link .shop h5 {
  font-size: 30px;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  margin: 0%;
}
footer .footer-container .footer-link .shop p,
footer .footer-container .footer-link .shop img {
  margin: 0%;
  color: rgb(95, 95, 95);
}
footer .footer-container .footer-link .part {
  display: flex;
  gap: 100px;
}
footer .footer-container .footer-link .part .company,
footer .footer-container .footer-link .part .faq,
footer .footer-container .footer-link .part .help,
footer .footer-container .footer-link .part .ressource {
  display: flex;
  flex-direction: column;
}
footer .footer-container .footer-link .part .company h5,
footer .footer-container .footer-link .part .faq h5,
footer .footer-container .footer-link .part .help h5,
footer .footer-container .footer-link .part .ressource h5 {
  letter-spacing: 2px;
}
footer .footer-container .footer-link .part .company a,
footer .footer-container .footer-link .part .faq a,
footer .footer-container .footer-link .part .help a,
footer .footer-container .footer-link .part .ressource a {
  text-decoration: none;
  color: rgb(95, 95, 95);
  margin-bottom: 15px;
}
footer .footer-container .pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .pay p {
  color: rgb(95, 95, 95);
}
footer .footer-container .pay .visa {
  transform: translateY(-22px);
}/*# sourceMappingURL=style.css.map */