@import "../helpers/variables";
@mixin btn-show-now {
  width: 180px;
  padding: 10px 0px;
  border-radius: 70px;
  border: none;
  background-color: $black-brand;
  color: $white-brand;
  cursor: pointer;
}
@mixin btn-view-all {
  align-self: center;
  padding: 10px 50px;
  background-color: $black-brand;
  color: $white-brand;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}
@mixin subscribe {
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  background-color: $white-brand;
}
