.cards {
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    .card {
      display: flex;
      flex-direction: column;
      gap: 7px;
      h3 {
        margin: 0%;
      }
      p {
        margin: 0%;
        span {
          color: $black-brand;
          font-weight: 900;
        }
      }
      .val {
        font-size: 25px;
        font-weight: 900;
      }
      .rate {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .prix {
        display: flex;
        gap: 20px;
        align-items: center;
        img {
          background-color: #ff8f8f;
          padding: 5px;
          border-radius: 5px;
        }
        p {
          font-size: 25px;
          font-weight: 900;
        }
        span {
          color: $text-color;
          text-decoration-line: line-through;
          font-size: 20px;
        }
      }
    }
  }
}
