@mixin components {
  .customer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border: solid rgb(184, 184, 184) 0.1em;
    border-radius: 40px;
    .name {
      display: flex;
      align-items: center;
      gap: 5px;
      span {
        font-size: 22px;
        font-weight: bold;
      }
    }
    p {
      margin: 0%;
      color: $text-color;
    }
  }
}
