@mixin breakpoints($points) {
  @if $points == mobile {
    @media #{$mobile} {
      @content;
    }
  } @else if $points == small {
    @media #{$small} {
      @content;
    }
  } @else if $points == medium {
    @media #{$medium} {
      @content;
    }
  } @else if $points == large {
    @media #{$large} {
      @content;
    }
  }
}
@mixin before-land {
  &::before {
    content: url(/images/Vector\ \(4\).png);
    position: absolute;
    left: 50%;
    top: 43%;
  }
}
@mixin after-land {
  &::after {
    content: url(/images/Vector\ \(5\).png);
    position: absolute;
    left: 92%;
    top: 10%;
  }
}
@mixin title {
  text-align: center;
  font-size: 30px;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  margin: 0%;
}
