// colors
$black-brand: #000000;
$white-brand: #ffffff;
$gray-brand: #f2f0f1;
$nav-link-color: rgb(56, 56, 56);
$text-color: rgb(95, 95, 95);
// fonts
$font-size-1: 13px;
$font-size-2: 13px;
$font-size-3: 30px;
// breakpoints
$mobile: "(max-width:767px)";
$small: "(min-width:768px) and (max-width:991px)";
$medium: "(min-width:992px) and (max-width:1199px)";
$large: "(min-width:1200px)";
