@import "../components/buttons";
footer {
  margin-top: 8%;
  background-color: $gray-brand;
  .upto-date {
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    background-color: $black-brand;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 40px;
    h4 {
      color: $white-brand;
      padding-left: 70px;
      @include title;
    }
    .subs {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-right: 70px;
      .email {
        background-color: $white-brand;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 60px 10px 15px;
        border-radius: 20px;
        input {
          border: none;
          color: $gray-brand;
        }
      }
      button {
        @include subscribe;
      }
    }
  }
  .footer-container {
    width: 85%;
    margin: auto;
    .footer-link {
      display: flex;
      gap: 100px;
      align-items: baseline;
      .shop {
        display: flex;
        flex-direction: column;
        gap: 28px;
        h5 {
          font-size: $font-size-3;
          font-family: "Satoshi", sans-serif;
          font-weight: 900;
          margin: 0%;
        }
        p,
        img {
          margin: 0%;
          color: $text-color;
        }
      }
      .part {
        display: flex;
        gap: 100px;
        .company,
        .faq,
        .help,
        .ressource {
          display: flex;
          flex-direction: column;
          h5 {
            letter-spacing: 2px;
          }
          a {
            text-decoration: none;
            color: $text-color;
            margin-bottom: 15px;
          }
        }
      }
    }
    .pay {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: $text-color;
      }
      .visa {
        transform: translateY(-22px);
      }
    }
  }
}
