@import "../helpers/variables";
@import "../helpers/mixins";

body {
  margin: 0%;
}
// start before-header
.before-header {
  background-color: $black-brand;
  text-align: center;
  height: 30px;
  box-sizing: border-box;

  p {
    color: $gray-brand;
    padding-top: 8px;
    font-size: $font-size-1;
    margin-top: 0%;
    a {
      font-size: $font-size-2;
      font-weight: bold;
      color: $white-brand;
    }
  }
}
// end before-header
// start header
header {
  background-color: $white-brand;
  height: 65px;
  .container-header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 85%;
    transform: translateY(-17px);
    h3 {
      font-size: $font-size-3;
      font-family: "Satoshi", sans-serif;
      font-weight: 900;
    }
    ul {
      display: flex;
      gap: 20px;
      padding-inline-start: 0px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: $nav-link-color;
          font-size: $font-size-2;
        }
      }
    }
    .recherche {
      display: flex;
      gap: 10px;
      background-color: $gray-brand;
      padding: 10px 20px;
      flex: 1;
      border-radius: 20px;
      color: $black-brand;
      input {
        border: none;
        background-color: $gray-brand;
      }
    }
    .icon {
      display: flex;
      gap: 15px;
    }
  }
}
// end header
