@import "../helpers/variables";
@import "../helpers/mixins";
@import "../components/buttons";

// start landing-page

.land {
  background-color: $gray-brand;
  .land-container {
    display: flex;
    height: calc(100vh - 150px);
    margin: auto;
    max-width: 85%;
    position: relative;
    @include before-land;
    @include after-land;
    overflow: hidden;
    .block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;
      padding: 90px 0px 90px 0px;
      h3 {
        font-size: 48px;
        font-family: "Anton", sans-serif;
        font-weight: 400;
        line-height: 55px;
        margin: 0%;
        max-width: 90%;
      }
      p {
        margin: 0%;
        max-width: 88%;
        color: $text-color;
      }
      button {
        @include btn-show-now;
      }
      .box {
        display: flex;
        gap: 40px;
        margin-top: 30px;

        h4 {
          margin: 0%;
          font-weight: bolder;
          font-size: 40px;
        }
        p {
          font-size: 13px;
          color: $text-color;
        }
      }
    }
    img {
      width: 50%;
    }
  }
}
// section-1
.section-1 {
  background-color: $black-brand;
  height: 55px;
  .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    transform: translateY(15px);
    img {
      height: 20px;
    }
  }
}
