.sec4-container {
  background-color: $gray-brand;
  width: 85%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  border-radius: 50px;
  h3 {
    @include title;
    margin-bottom: 20px;
  }
}
