@import "../components/customer";
.section-5 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  h3 {
    @include title;
    text-align: left;
  }
  .customers {
    display: flex;
    gap: 20px;
    @include components;
  }
}
