@import "../helpers/variables";
@import "../helpers/mixins";
@import "../components/buttons";
@import "../components/cards";
.sec2-container {
  width: 85%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  h2 {
    @include title;
  }
  button {
    @include btn-view-all;
  }
  @extend .cards;
}
